
<% if (title == "About") { %>
    <div class="container-fluid-md">
      <div class="container"> 
        <div class="row">
          <div class="col-md-12 about-text"><h1><P>Vidhi Patel</P></h1></div>
        </div>
        
        <div class="row">
          <div class="col-md-6 "><img src="/images/me.png" style="width: 400px; border-radius: 5px;"></div>
          <div class="col-md-6 about-para">
            <p>
              My name is Vidhi Patel. I am from India. I have been here for 6 months. I have completed graduation in computer engineering back 
              in india. I also have completed PG cource named cloud architecture and administration from Seneca college. Now, I am pursuing PG course
              Software engineering technician in Centennial college. I am interested in SQL. So, I am very passonate about learning new things in SQL. 
            </p>
            <p style="margin-top: 40px; font-size: large;" >
              
              <a href="https://drive.google.com/file/d/1186eCGxI5GYorV9-Aj9vKz-p-MeafOqy/view?usp=sharing" target="blank">My Resume</a></p>
          </div>
        </div>
        
      </div>
  
    </div>
    
  <%} else { %>
    
  <% } %>
  