
<% if (title == "Projects") { %>
    <div class="container-fluid" >
      
        <div class="row" style="margin-top: 30px;">
          <div class="col-6" >
            <p><h3 style="margin-left: 8px;margin-bottom: -5px;font-family: Roboto, sans-serif !important;">
              <B>Projcte</B></h3></p>
            <div class="project-text-head"><p> when I was in last year of my graduation back in India. 
              Well, This project is based on MEAN stack technology. So, I have worked on different technology such as Node JS, 
              Angular JS and  Mongo DB. It was one web application to book different kind of venues online.
            </p></div></div>
            
          <div class="col-6"><img src="/images/project1.png" style="margin-left: 20px;"></div>
        </div>
        
        
        
        <div class="row" style="margin-top: 30px; margin-bottom: 50px;">
          <div class="col-6 "><p ><h3 style="font-family: Roboto, 
          sans-serif !important;"><b style="margin-left: 8px; ">Face Recognition Attendence System</b></h3>
            <div class="project-text-head2" style="margin-top: 5px;">
            <p>
            A Face recognition attendance system is used in various industries 
            to save from fake presents. It captures the image of the user and recognizes the face from 
            the saved database. This is a project based on python and machine learning. 
            This was a group project led by me. we were five  members in the group. 
            in this project, I had taken care of the front-end. 
            </p></p></div></div>
          
          <div class="col-6 " ><img src="/images/project3.jpg" style="margin-top: 60px;margin-left: 
          20px; height: 200px;"></div>
        </div>
        
     
  
    </div>
    <%} else { %>
    
  <% } %>
  